@{
	Layout = "~/Views/Shared/_Layout.cshtml";
	ViewBag.Title = "CPT331 Administation | Home";
}

<br/>
<h1>CPT331 Database Administration</h1>
<hr/><br/>
<ul>
<li><h4>@Html.ActionLink("Crimes", "Crimes")</h4></li>
<li><h4>@Html.ActionLink("Local Government Areas", "LocalGovernmentAreas")</h4></li>
<li><h4>@Html.ActionLink("Offence Categories", "OffenceCategories")</h4></li>
<li><h4>@Html.ActionLink("Offences", "Offences")</h4></li>
<li><h4>@Html.ActionLink("States", "States")</h4></li>
</ul>
<br/>
<div align="center">
    <a href="@Url.Action("SignOut", "Account")" class="btn btn-primary btn-lg"><span>Sign out</span></a>
</div>