@using CPT331.Web.Models.Admin

@model StateModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "States | New State";
}

<br />
<h1>@Html.ActionLink("Home", "Home", "Admin") | New State</h1>
<hr /><br />

@using (Html.BeginForm())
{
<table cellpadding="3" cellspacing="0" border="0" width="100%">

<tr>
<td width="100">* @Html.LabelFor(m => m.Name)</td>
<td>
@Html.TextBoxFor(m => m.Name, new { size = 50 })
@Html.ValidationMessageFor(m => m.Name)
</td>
</tr>

<tr>
<td width="100">* @Html.LabelFor(m => m.AbbreviatedName)</td>
<td>
@Html.TextBoxFor(m => m.AbbreviatedName, new { size = 10 })
@Html.ValidationMessageFor(m => m.AbbreviatedName)
</td>
</tr>

<tr>
<td width="150">* @Html.LabelFor(m => m.IsVisible)</td>
<td>@Html.CheckBoxFor(m => m.IsVisible)</td>
</tr>

<tr>
<td width="100">&nbsp;</td>
<td><input type="submit" value="Save" /></td>
</tr>

</table>
}

<p>&nbsp;</p>