@using CPT331.Web.Models.Admin

@model TestModel

@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    ViewBag.Title = "Tests | Test";
}

<h1>@Html.ActionLink("Home", "Home", "Admin") | Test</h1>

@using (Html.BeginForm())
{
<table cellpadding="3" cellspacing="0" border="0" width="100%">

<tr>
<td width="100">* @Html.LabelFor(m => m.Value0)</td>
<td>
@Html.TextBoxFor(m => m.Value0, new { size = 50 })
@Html.ValidationMessageFor(m => m.Value0)
</td>
</tr>

<tr>
<td width="100">* @Html.LabelFor(m => m.Value1)</td>
<td>
@Html.TextBoxFor(m => m.Value1, new { size = 50 })
@Html.ValidationMessageFor(m => m.Value1)
</td>
</tr>

<tr>
<td width="150">* @Html.LabelFor(m => m.IsDelete)</td>
<td>@Html.CheckBoxFor(m => m.IsDelete)</td>
</tr>

@Html.HiddenFor(m => m.ID)

<tr>
<td width="100">&nbsp;</td>
<td><input type="submit" value="Save" /></td>
</tr>

</table>
}

<p>&nbsp;</p>